%container {
  @extend %padding-left-base;
  @extend %padding-right-base;
  @extend %padding-left-none\|tablet-landscape;
  @extend %padding-right-none\|tablet-landscape;

  width: 100%;
  max-width: $container-width-tablet;
  margin-left: auto;
  margin-right: auto;

  @include break(tablet-landscape) {
    max-width: $container-width-tablet-landscape;
  }

  @include break(desktop) {
    max-width: $container-width-desktop;
  }
}