%container {
  @extend %padding-horizontal-base;
  @extend %padding-horizontal-none\|tablet-landscape;
  @extend %margin-horizontal-auto;

  width: 100%;
  max-width: $container-width-tablet;

  @include break(tablet-landscape) {
    max-width: $container-width-tablet-landscape;
  }

  @include break(desktop) {
    max-width: $container-width-desktop;
  }
}