//Set to rems
$font-sizes: (
  base: rem($base-font-size),
  first: rem($base-font-size * 3.1255), //50px
  second: rem($base-font-size * 2.125), //34px
  third: rem($base-font-size * 2), //32px
  fourth: rem($base-font-size * 1.625), //26px
  fifth: rem($base-font-size * 1.375), //22px
  sixth: rem($base-font-size * 0.875) //14px
) !default;

@each $breakpoint in map-keys($global-breakpoints) {
  @include break($breakpoint) {
    $responsive-modifier: breakpoint-infix($breakpoint, $global-breakpoints);

    @each $name, $size in $font-sizes {
      %font-size-#{$name}#{$responsive-modifier} {
        font-size: $size;
      }
    }
  }
}
