//Provides a list of default hotspot sizes
$hotspot-sizes: (
  small: $base-font-size * 0.5,
  medium: $base-font-size,
  large: $base-font-size * 2
);

@each $breakpoint in map-keys($global-breakpoints) {
  @include break($breakpoint) {
    $responsive-modifier: breakpoint-infix($breakpoint, $global-breakpoints);
    @each $name, $size in $hotspot-sizes {
      %hotspot-#{$name}#{$responsive-modifier} {
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: rem($size * -1);
          left: rem($size * -1);
          right: rem($size * -1);
          bottom: rem($size * -1);
        }
      }
    }
  }
}
