$base-font-size: 16 !default; //pixels that is.

$font-default: proxima-nova, sans-serif !default;
$font-headers: proxima-nova, sans-serif !default;

//Base colors
$color-primary: #12608c !default;
$color-secondary: #3fa9f6 !default;
$color-support-primary: #00c971 !default;

$color-global-light: #ffffff !default;
$color-global-dark: #2e2e2e !default;

//Buttons
$button-border-radius: $base-font-size / 2 !default;
$button-cta-border-radius: ($base-font-size / 2) 0 ($base-font-size / 2) 0 !default;

$color-button-primary: $color-support-primary !default;
$color-button-secondary: $color-primary !default;

//Font
$color-font-base: $color-global-dark;
