$base-font-size: 16 !default; //pixels that is.

$font-default: arial, sans-serif !default;
$font-headers: arial, sans-serif !default;

//Base colors
$color-primary: #12608c !default;
$color-secondary: #3fa9f6 !default;
$color-support-primary: #00c971 !default;

